{% load maintags %}


<header class="header blurred-container sticky-top">

    <nav class="navbar navbar-expand-lg position-relative">
        <div class="container position-relative">
            <a class="navbar-brand" href="{% url 'main:home' %}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                <div class="menu-icon">
                    <span></span>
                </div>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">

                {% main_categories cat_selected %}

                <ul class="navbar-nav">
                    <span class="d-flex justify-content-between">

                        {% include 'mainapp/includes/_menu_search.html' %}

                        {% include 'mainapp/includes/_menu_notifications.html' %}

                        {% include 'mainapp/includes/_menu_auth.html' %}

                        <li class="nav-item me-2">
                            <a class="nav-link" href="{% url 'main:about' %}" role="button">
                                <i class="bi bi-question-circle"></i>
                            </a>
                        </li>

                        {% include 'mainapp/includes/_menu_theme_toggle.html' %}

                    </span>
                </ul>
            </div>
        </div>
    </nav>

</header>