<h1 class="fw-bold card-title glitch glitch-h1 mt-5" data-text="404">
    404
</h1>

<div class="card-body d-flex flex-column mb-5">

    <div class="fw-bold card-title glitch glitch-div mb-5" data-text="Ничего не найдено...">
        Ничего не найдено...
    </div>

    <hr class="text-muted mt-2 mb-5">

    <div class="text-center fw-bold card-title fs-3 mb-3 mt-5">
        Мы хорошо искали...
    </div>
    <div class="text-center fw-bold card-title fs-3 mb-5 mt-1">
        Можешь <span id="searchbox">перепроверить</span>!
    </div>
    <div class="text-center fw-bold card-title fs-3 mb-3 mt-5">
        Или бросить всё...
    </div>
    <div class="text-center fw-bold card-title fs-3 mb-5 mt-1">
        И начать всё с <a href="{% url 'main:home' %}">самого начала</a>!
    </div>

</div>

