{% load static %}
{% load commenttags %}
{% comment_liked c user as liked %}

<div id="commentList_{{ c.id }}" class="card-body comment-card">
    <h6 class="card-title">
        <small class="text-muted comment-title">
            <span>{{ c.user }}</span>
            <span class="ms-3">{{ c.time_update }}</span>
        </small>
    </h6>
    <p id="text_area_{{ c.id }}" contenteditable="false" class="card-text">
        {{ c.text }}
    </p>
</div>

<div id="commentListFooter_{{ c.id }}"
     class="card-footer no-border-modal-footer d-flex justify-content-between align-items-center comment-footer">
    <small class="text-muted">

        <span id="like" class="ms-2" onclick="ajaxLikePressedComment('{% url 'main:set_like' %}', '{{ c.id }}')">
            <i id="comment_like_id_{{ c.id }}" class={{ liked }}></i>
            <span id="comment_likes_count_id_{{ c.id }}">{% comment_like_count c %}</span>
        </span>
    </small>

    <small>
        {% if user.is_authenticated %}
        {% if user == c.user %}
        <span id="edit_comment_btn_{{ c.id }}"
              class="ms-3 edit-comment close-button-comment"
              data-id
              data-url="/comment/edit/">
                    <i id="icon_edit_{{ c.id }}" class="bi bi-pencil"></i>
                </span>

        <span onclick="ajaxDeleteComment('{% url 'main:delete_comment' %}', '{{ c.id }}')"
              id="comment_delete_button" class="ms-3 me-3 edit-comment close-button-comment">
                        <i class="bi bi-trash3"></i>
                </span>
        {% endif %}

        {% if user.username == 'admin' %}
        <span class="complaint ms-3">
                    <i class="bi bi-x-circle"></i>
                </span>
        {% else %}
        <span onclick="ajaxBadComment('{% url 'main:bad_comment' %}', '{{ c.id }}', '{{ post.id }}')"
              class="complaint ms-3">
            {% get_user_complaint c post user as complaint %}
            <i id="bad_comment_{{ c.id }}" class="{{ complaint }}"></i>
        </span>
        {% endif %}
        {% endif %}
    </small>
</div>