{% load maintags %}
{% load notificationtags %}
{% get_new_complaint_count as note %}

<header class="header blurred-container sticky-top">

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'main:home' %}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">

                <div class="menu-icon">
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">

                {% main_categories cat_selected %}

                <ul class="navbar-nav">
                    <span class="d-flex justify-content-between">

                        <li class="nav-item me-3 btn-search-i">
                            <form action="{% url 'search:main' %}"
                                  method="get"
                                  class="d-flex justify-content-end"
                                  role="search"
                                  id="search-form">
                                <input class="form-control form-search custom-search-input" type="search"
                                       name="q"
                                       placeholder="Поиск..."
                                       aria-label="Search"
                                       id="search-input">
                                <button type="submit" class="btn btn-search">
                                    <i class="bi bi-search " id="btn-search"></i>
                                </button>
                            </form>
                        </li>

                        {% if user.is_authenticated %}

                            {% if user.is_superuser %}
                                <!-- КОГДА НЕТ УВЕДОМЛЕНИЙ -->
                                <li class="nav-item dropdown me-2">
                                    <a class="nav-link position-relative" href="#" role="button"
                                       data-bs-auto-close="outside"
                                       data-bs-toggle="dropdown" aria-expanded="false">

                                        {% if note > 0 %}
                                            <i class="bi bi-bell-fill notif text-danger">
                                                <small id="notification_id"
                                                       class="position-absolute fw-semibold badge custom-badge">
                                                    {{ note }}
                                                </small>
                                            </i>
                                        {% else %}
                                            <i class="bi bi-bell"></i>
                                        {% endif %}

                                    </a>

                                    {% if note > 0 %}

                                        <div class="dropdown-menu dropdown-menu-end blurred-container">
                                            <div class="notify-card card mt-1">
                                                <div class="card-body">
                                                    Какое-то Уведомление 1
                                                </div>
                                            </div>

                                            <div class="notify-card card mt-1">
                                                <div class="card-body">
                                                    Какое-то Уведомление 2
                                                </div>
                                            </div>

                                            <div class="notify-card card mt-1">
                                                <div class="card-body">
                                                    Какое-то Уведомление 3
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="dropdown-menu dropdown-menu-end blurred-container">
                                            <div class="notify-nothing card-body m-1">
                                                Ничего нет...
                                            </div>
                                        </div>
                                    {% endif %}

                                </li>
                            {% endif %}

                        {% endif %}

                        <li class="nav-item dropdown custom-border">
                            <a class="nav-link" href="#" role="button" data-bs-auto-close="outside"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end blurred-container">

                                {% if user.is_authenticated %}

                                    <span class="d-flex justify-content-center">
                                        <span>
                                            Привет,
                                            <a href="{% url 'user:my_profile_edit' %}">{{ user.username|title }}</a>
                                        </span>
                                    </span>

                                    <hr class="text-muted">

                                    <li>
                                        <a href="{% url 'user:my_profile_view' %}" class=" auth">
                                            <button class="btn w-100 btn-auth auth text-start">
                                                Кабинет
                                            </button>
                                        </a>
                                    </li>
                                    <li><a href="{% url 'moderator:index' %}" class=" auth">
                                            <button class="btn w-100 btn-auth auth text-start">
                                                Модератор
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'auth:logout' %}" class="auth" id="logout">
                                            <button type="submit" class="btn w-100 btn-auth auth text-start"
                                                    id="logout">
                                                Выйти
                                            </button>
                                        </a>
                                    </li>
                                {% else %}

                                    <span class="d-flex justify-content-center">
                                        Привет, Гость
                                    </span>

                                    <hr class="text-muted">

                                    <li>
                                        <a href="{% url 'auth:register' %}" class="auth" data-bs-toggle="modal"
                                           data-bs-target="#staticBackdropRegister">
                                        <button type="submit" class="btn w-100 btn-auth auth text-start">
                                        Регистрация
                                        </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'auth:login' %}" class="auth" data-bs-toggle="modal"
                                           data-bs-target="#staticBackdropLogin">
                                        <button type="submit" class="btn w-100 btn-auth auth text-start">
                                        Войти
                                        </button>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>

                        <li class="nav-item me-2">
                            <a class="nav-link" href="{% url 'main:about' %}" role="button">
                                <i class="bi bi-question-circle"></i>
                            </a>
                        </li>

                        <li class="nav-item mt-2 ms-1 me-3">
                            <label class="theme">
                                <input class="theme-switch" type="checkbox">
                                <span class="theme-wrapper">
                                    <i class="bi bi-sun sun"></i>
                                    <i class="bi bi-moon moon"></i>
                                </span>
                            </label>
                        </li>

                    </span>
                </ul>
            </div>
        </div>
    </nav>

</header>