{% if user.is_authenticated %}
    {% if user.is_superuser or user.is_staff %}
        {% load notificationtags %}
        {% get_new_complaint_count as note %}

        <li class="nav-item dropdown me-2">

            {% if note %}
                <a href="{% url 'moderator:index' %}" class="nav-link position-relative">
                    <i class="bi bi-bell-fill notif text-danger">
                        <small class="position-absolute fw-semibold badge custom-badge"
                           id="notification_id">
                        {{ note }}
                        </small>
                    </i>
                </a>
            {% else %}
                <span href="{% url 'moderator:index' %}" class="nav-link position-relative">
                    <i class="bi bi-bell"></i>
                </span>
            {% endif %}

            {#            {% if note > 0 %}#}
            {#                <div class="dropdown-menu dropdown-menu-end">#}
            {#                    <div class="notify-card card mt-1">#}
            {#                        <div class="card-body">#}
            {#                            Какое-то Уведомление 1#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <div class="notify-card card mt-1">#}
            {#                        <div class="card-body">#}
            {#                            Какое-то Уведомление 2#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <div class="notify-card card mt-1">#}
            {#                        <div class="card-body">#}
            {#                            Какое-то Уведомление 3#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            {% else %}#}
            {#                <div class="dropdown-menu dropdown-menu-end">#}
            {#                    <div class="notify-nothing card-body m-1">#}
            {#                        Ничего нет...#}
            {#                    </div>#}
            {#                </div>#}
            {#            {% endif %}#}

        </li>
    {% endif %}
{% endif %}