<li class="nav-item me-1 btn-search-li">

    <i class="bi bi-search btn" id="btn-search"></i>

    <form action="{% url 'search:main' %}"
          method="get"
          class="d-flex justify-content-end"
          role="search"
          id="search-form">
        <input class="form-control form-search custom-search-input hide-search-input"
               type="search"
               name="q"
               placeholder="Поиск..."
               aria-label="Search"
               id="search-input"
               autocomplete="off">
    </form>
</li>