{% if user.is_authenticated %}
    {% if user.is_superuser or user.is_staff %}
        <li class="nav-item dropdown me-2">

            <span class="nav-link position-relative"
                  data-bs-auto-close="outside"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  role="button">

                {% if note %}
                    <a href="{%  url 'moderator:index' %}">
                        <i class="bi bi-bell-fill notif text-danger">
                            <small class="position-absolute fw-semibold badge custom-badge"
                               id="notification_id">
                            {{ note }}
                            </small>
                        </i>
                    </a>
                {% else %}
                    <i class="bi bi-bell"></i>
                {% endif %}
            </span>

            {#            {% if note > 0 %}#}
            {#                <div class="dropdown-menu dropdown-menu-end">#}
            {#                    <div class="notify-card card mt-1">#}
            {#                        <div class="card-body">#}
            {#                            Какое-то Уведомление 1#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <div class="notify-card card mt-1">#}
            {#                        <div class="card-body">#}
            {#                            Какое-то Уведомление 2#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <div class="notify-card card mt-1">#}
            {#                        <div class="card-body">#}
            {#                            Какое-то Уведомление 3#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            {% else %}#}
            {#                <div class="dropdown-menu dropdown-menu-end">#}
            {#                    <div class="notify-nothing card-body m-1">#}
            {#                        Ничего нет...#}
            {#                    </div>#}
            {#                </div>#}
            {#            {% endif %}#}

        </li>
    {% endif %}
{% endif %}