<div id="staticBackdropLogin"
     class="modal fade blurred-container"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-bg">

            <div class="modal-header">
                <h2 class="modal-title fs-5" id="staticBackdropLabel">Авторизация</h2>
            </div>

            <div class="alert alert-danger m-3 d-none error-auth" role="alert"></div>

            <form method="post"
                  action="{% url 'auth:login' %}"
                  id="login_form_modal">
                {% csrf_token %}
                {{ login_ajax.non_field_errors }}

                <div class="modal-body">
                    <div class="form-floating mb-3">
                        {{ login_ajax.username }}
                        <label for="id_username_l">Имя пользователя</label>
                    </div>
                    <div class="form-floating mb-3">
                        {{ login_ajax.password }}
                        <label for="id_password">Пароль</label>
                    </div>

                    <div class="mb-1 mt-5">
                        <span class="auth"
                              data-bs-toggle="modal"
                              data-bs-target="#staticBackdropRegister">
                            <button type="submit" class="btn w-100 btn-auth auth text-end">
                                Нет учетной записи?
                            </button>
                        </span>
                    </div>
                </div>

                <div class="modal-footer no-border-modal-footer">
                    <button type="submit" class="btn btn-outline-primary btn-sm" id="login">
                        Войти
                    </button>
                    <button type="button" class="btn btn-outline-light btn-custom btn-sm" data-bs-dismiss="modal">
                        Отмена
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>