<div id="staticBackdropRegister"
     class="modal fade blurred-container"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-bg">

            <div class="modal-header">
                <h2 class="modal-title fs-5" id="staticBackdropLabel">Регистрация</h2>
            </div>

            <div class="alert alert-danger m-3 d-none error-auth" role="alert"></div>

            <form method="post"
                  action="{% url 'auth:register' %}"
                  id="register_form_modal">
                {% csrf_token %}
                {{ register_ajax.non_field_errors }}

                <div class="modal-body">
                    <div class="form-floating mb-3">
                        {{ register_ajax.username }}
                        <label for="id_username_r">Имя пользователя</label>
                    </div>

                    <div class="form-floating mb-3">
                        {{ register_ajax.email }}
                        <label for="id_email">Электронная почта</label>
                    </div>

                    <div class="form-floating mb-3">
                        {{ register_ajax.password1 }}
                        <label for="id_password1">Пароль</label>
                    </div>

                    <div class="form-floating mb-3">
                        {{ register_ajax.password2 }}
                        <label for="id_password2">Подтвердите пароль</label>
                    </div>

                    <div class="form-check mb-3">
                        {{ register_ajax.check }}
                        <label class="form-check-label mt-1" for="id_check">Я даю своё согласие...</label>
                    </div>

                </div>

                <div class="modal-footer no-border-modal-footer">
                    <button type="submit" class="btn btn-outline-primary btn-sm" id="register">
                        Зарегистрироваться
                    </button>
                    <button type="button" class="btn btn-outline-light btn-custom btn-sm" data-bs-dismiss="modal">
                        Отмена
                    </button>
                </div>
                <div class="mb-1 mt-1">
                    <span class="auth"
                          data-bs-toggle="modal"
                          data-bs-target="#staticBackdropLogin">
                        <button type="submit" class="btn w-100 btn-auth auth text-end">
                            Уже есть учётная запись?
                        </button>
                    </span>
                </div>
            </form>

        </div>
    </div>
</div>