 <div class="col-md-15">
        <h5 class="fw-bold">Последнее</h5>
        {% for p in news %}
        <a href="{{ p.get_absolute_url }}"
           class="sidebar-item list-group-item list-group-item-action d-flex flex-column justify-content-between align-items-left">
            <span class="sidebar-item-title">{{p.title|truncatewords:15}}</span>
            <span class="badge text-primary">Автор: {{p.author}}</span>
            <span class="badge text-primary">Дата: {{p.time_update|date:"d.m.Y H:i"}}</span>
        </a>
        {% endfor %}
 </div>