{% load posttags %}

{% block sidebar %}
    <ul class="list-group sidebar-sticky-top sticky-top">

        {% for p in news %}
            <a href="{{ p.get_absolute_url }}"
               class="sidebar-item list-group-item list-group-item-action d-flex flex-column justify-content-between">
                <h6 class="sidebar-item-title card-text">{{ p.title }}</h6>
                <div class="d-flex justify-content-between">
                    <small class="text-muted d-flex flex-column justify-content-end">
                        <span class="d-flex justify-content-start">
                            <i class="bi bi-eye"></i>
                            <span class="ms-1">5088</span>
                        </span>
                    </small>
                    <small class="text-muted">
                        <span class="d-flex justify-content-end">{{ p.author }}</span>
                        <span class="d-flex justify-content-end">{{ p.time_update|date:"d.m.Y H:i" }}</span>
                    </small>
                </div>
            </a>
        {% endfor %}

    </ul>
{% endblock %}