<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Haba-haba</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

</head>

<body id="element">
    <div class="wrapper">

        <!-- заголовок -->
        <header class="header sticky-top">
            <nav class="navbar navbar-expand-lg">
                <div class="container">

                    <a class="navbar-brand" href="index.html"></a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon nav-scrolled"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link nav-scrolled active" aria-current="page" href="index.html">Главная</a>
                            <a class="nav-link nav-scrolled" href="#">Дизайн</a>
                            <a class="nav-link nav-scrolled" href="#">Веб-разработка</a>
                            <a class="nav-link nav-scrolled" href="#">Мобильная разработка</a>
                            <a class="nav-link nav-scrolled" href="#">Маркетинг</a>
                        </div>
                    </div>

                    <span class="navbar-text navbar-dark">
                        <a href="#" class="auth">Register</a>
                        <span class="separ">|</span>
                        <a href="profile.html" class="auth">Login</a>
                    </span>

                </div>
            </nav>
        </header>

        <div class="container mt-5">
            <div class="row row-main">

                <!-- основное содержимое -->
                <div class="col-md-9 row g-4">
                    <div class="custom-card-bg card">

                        <div class="card-body">
                            <div class="custom-card card">
                                <a href="single.html" class="text-decoration-none text-light">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <img src="https://img.freepik.com/free-vector/tiny-characters-sitting-laptop-with-lorem-ipsum-title_74855-20389.jpg?w=1480&t=st=1665865814~exp=1665866414~hmac=0dfaf49fe1350925106e58bf01a6d184411e0f59751204fabe0edcd6c2ffda63"
                                                alt="" class="card-img-top">
                                        </div>

                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="text-center fw-bold">Some title</h5>

                                                <p class="card-text">
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem
                                                    saepe,
                                                    vitae
                                                    cum
                                                    ipsum
                                                    blanditiis tenetur iure rerum ab architecto, eum eius, tempore
                                                    expedita
                                                    perspiciatis
                                                    nam
                                                    rem autem. Aperiam ex consectetur voluptatum repellendus impedit
                                                    iste
                                                    sunt
                                                    numquam
                                                    iusto
                                                    qui, fuga omnis ad reprehenderit mollitia beatae animi quisquam eum
                                                    assumenda?
                                                    Cumque
                                                    quo possimus, nam nemo atque blanditiis modi aperiam. Officia
                                                    adipisci
                                                    odit
                                                    architecto...
                                                </p>

                                                <hr class="text-muted">

                                                <small class="text-muted float-end">
                                                    <span>author:</span>
                                                    <span>Ivan Ivanov</span>
                                                    <span class="fw-bold separ">|</span>
                                                    <span>11.10.2021 13:27</span>
                                                </small>

                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="custom-card card">
                                <a href="single.html" class="text-decoration-none text-light">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <img src="https://img.freepik.com/free-vector/tiny-characters-sitting-laptop-with-lorem-ipsum-title_74855-20389.jpg?w=1480&t=st=1665865814~exp=1665866414~hmac=0dfaf49fe1350925106e58bf01a6d184411e0f59751204fabe0edcd6c2ffda63"
                                                alt="" class="card-img-top">
                                        </div>

                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="text-center fw-bold">Some title</h5>

                                                <p class="card-text">
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem
                                                    saepe,
                                                    vitae
                                                    cum
                                                    ipsum
                                                    blanditiis tenetur iure rerum ab architecto, eum eius, tempore
                                                    expedita
                                                    perspiciatis
                                                    nam
                                                    rem autem. Aperiam ex consectetur voluptatum repellendus impedit
                                                    iste
                                                    sunt
                                                    numquam
                                                    iusto
                                                    qui, fuga omnis ad reprehenderit mollitia beatae animi quisquam eum
                                                    assumenda?
                                                    Cumque
                                                    quo possimus, nam nemo atque blanditiis modi aperiam. Officia
                                                    adipisci
                                                    odit
                                                    architecto...
                                                </p>

                                                <hr class="text-muted">

                                                <small class="text-muted float-end">
                                                    <span>author:</span>
                                                    <span>Ivan Ivanov</span>
                                                    <span class="fw-bold separ">|</span>
                                                    <span>11.10.2021 13:27</span>
                                                </small>

                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="custom-card card">
                                <a href="single.html" class="text-decoration-none text-light">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <img src="https://img.freepik.com/free-vector/tiny-characters-sitting-laptop-with-lorem-ipsum-title_74855-20389.jpg?w=1480&t=st=1665865814~exp=1665866414~hmac=0dfaf49fe1350925106e58bf01a6d184411e0f59751204fabe0edcd6c2ffda63"
                                                alt="" class="card-img-top">
                                        </div>

                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="text-center fw-bold">Some title</h5>

                                                <p class="card-text">
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem
                                                    saepe,
                                                    vitae
                                                    cum
                                                    ipsum
                                                    blanditiis tenetur iure rerum ab architecto, eum eius, tempore
                                                    expedita
                                                    perspiciatis
                                                    nam
                                                    rem autem. Aperiam ex consectetur voluptatum repellendus impedit
                                                    iste
                                                    sunt
                                                    numquam
                                                    iusto
                                                    qui, fuga omnis ad reprehenderit mollitia beatae animi quisquam eum
                                                    assumenda?
                                                    Cumque
                                                    quo possimus, nam nemo atque blanditiis modi aperiam. Officia
                                                    adipisci
                                                    odit
                                                    architecto...
                                                </p>

                                                <hr class="text-muted">

                                                <small class="text-muted float-end">
                                                    <span>author:</span>
                                                    <span>Ivan Ivanov</span>
                                                    <span class="fw-bold separ">|</span>
                                                    <span>11.10.2021 13:27</span>
                                                </small>

                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="custom-card card">
                                <a href="single.html" class="text-decoration-none text-light">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <img src="https://img.freepik.com/free-vector/tiny-characters-sitting-laptop-with-lorem-ipsum-title_74855-20389.jpg?w=1480&t=st=1665865814~exp=1665866414~hmac=0dfaf49fe1350925106e58bf01a6d184411e0f59751204fabe0edcd6c2ffda63"
                                                alt="" class="card-img-top">
                                        </div>

                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="text-center fw-bold">Some title</h5>

                                                <p class="card-text">
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem
                                                    saepe,
                                                    vitae
                                                    cum
                                                    ipsum
                                                    blanditiis tenetur iure rerum ab architecto, eum eius, tempore
                                                    expedita
                                                    perspiciatis
                                                    nam
                                                    rem autem. Aperiam ex consectetur voluptatum repellendus impedit
                                                    iste
                                                    sunt
                                                    numquam
                                                    iusto
                                                    qui, fuga omnis ad reprehenderit mollitia beatae animi quisquam eum
                                                    assumenda?
                                                    Cumque
                                                    quo possimus, nam nemo atque blanditiis modi aperiam. Officia
                                                    adipisci
                                                    odit
                                                    architecto...
                                                </p>

                                                <hr class="text-muted">

                                                <small class="text-muted float-end">
                                                    <span>author:</span>
                                                    <span>Ivan Ivanov</span>
                                                    <span class="fw-bold separ">|</span>
                                                    <span>11.10.2021 13:27</span>
                                                </small>

                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="custom-card card">
                                <a href="single.html" class="text-decoration-none text-light">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <img src="https://img.freepik.com/free-vector/tiny-characters-sitting-laptop-with-lorem-ipsum-title_74855-20389.jpg?w=1480&t=st=1665865814~exp=1665866414~hmac=0dfaf49fe1350925106e58bf01a6d184411e0f59751204fabe0edcd6c2ffda63"
                                                alt="" class="card-img-top">
                                        </div>

                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="text-center fw-bold">Some title</h5>

                                                <p class="card-text">
                                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem
                                                    saepe,
                                                    vitae
                                                    cum
                                                    ipsum
                                                    blanditiis tenetur iure rerum ab architecto, eum eius, tempore
                                                    expedita
                                                    perspiciatis
                                                    nam
                                                    rem autem. Aperiam ex consectetur voluptatum repellendus impedit
                                                    iste
                                                    sunt
                                                    numquam
                                                    iusto
                                                    qui, fuga omnis ad reprehenderit mollitia beatae animi quisquam eum
                                                    assumenda?
                                                    Cumque
                                                    quo possimus, nam nemo atque blanditiis modi aperiam. Officia
                                                    adipisci
                                                    odit
                                                    architecto...
                                                </p>

                                                <hr class="text-muted">

                                                <small class="text-muted float-end">
                                                    <span>author:</span>
                                                    <span>Ivan Ivanov</span>
                                                    <span class="fw-bold separ">|</span>
                                                    <span>11.10.2021 13:27</span>
                                                </small>

                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>


                        <ul class="pagination justify-content-center mt-5">

                            <!-- <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>

                            <li class="page-item">
                                <a class="page-link " href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li> -->

                            <li class="page-item active" aria-current="page">
                                <span class="page-link">1</span>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>

                <!-- сайдбар -->
                <div class="col-md-3 gy-5">

                    <ul class="list-group sidebar-sticky-top sticky-top">

                        <a href="#"
                            class="sidebar-item list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <span class="sidebar-item-title">sidebar item #1</span>
                            <span class="badge bg-primary">3</span>
                        </a>

                        <a href="#"
                            class="sidebar-item list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <span class="sidebar-item-title">sidebar item #2</span>
                            <span class="badge bg-primary">325</span>
                        </a>

                        <a href="#"
                            class="sidebar-item list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <span class="sidebar-item-title">sidebar item #3</span>
                            <span class="badge bg-primary">33</span>
                        </a>

                    </ul>

                </div>
            </div>
        </div>

        <!-- подвал -->
        <footer class="footer mt-5 d-flex justify-content-center align-middle">

            <div class="navbar">
                <div class="container">
                    <span class="footer-title">haba-haba</span>
                    <span class="copy">&copy;</span>
                    <span class="cur-year">2022</span>
                </div>
            </div>

        </footer>
    </div>

    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>

</html>