{% block sidebar %}
<ul class="list-group sidebar-sticky-top sticky-top">

    <a href="#"
       class="sidebar-item list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span class="sidebar-item-title">статей опубликовано</span>
        <span class="badge bg-primary">{{ post_count }}</span>
    </a>

    <a href="#"
       class="sidebar-item list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span class="sidebar-item-title">комментариев написано</span>
        <span class="badge bg-primary">{{ comment_count }}</span>
    </a>

    <a href="#"
       class="sidebar-item list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span class="sidebar-item-title">всего лайков собрано</span>
        <span class="badge bg-primary">{{ like_receive_count }}</span>
    </a>


</ul>
{% endblock %}