{% extends 'mainapp/base.html' %}
{% load static %}
{% load posttags %}

{% block title %}
    {{ title|title }} :: {{ block.super }}
{% endblock %}

{% block content %}
    <div class="single-card card border border-secondary border-opacity-25">

        <h1 class="text-center fw-bold card-title mt-3 d-flex flex-column">

            <span>Личный кабинет пользователя</span>
            <span>
                {% if user.first_name and user.last_name %}
                    {{ user.first_name }} {{ user.last_name }}
                {% else %}
                    {{ user.username }}
                {% endif %}
            </span>

        </h1>
        <hr class="text-muted">

        {% if posts %}
            <div>
                <h4>Статьи написанные вами</h4>
                <hr class="text-muted w-50 mt-3">
            </div>
        {% else %}
            <h4>К сожалению вы пока не написали ни одной статьи.</h4>
        {% endif %}
        {% for post in posts %}
            {% if not post.is_published %}
                <span>не опубликован</span>
            {% endif %}

            {% if post.is_blocked %}
                <span>статься заблокирована</span>
            {% endif %}

            {% post_mini post user %}
        {% endfor %}

    </div>
{% endblock %}

{% block sidebar %}
    {% include 'mainapp/includes/_create_new_post_button.html' %}
    {% include 'userapp/includes/_sidebar.html' %}
{% endblock %}
