{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <div class="single-card card border border-secondary border-opacity-25">

        <h1 class="text-center fw-bold card-title mt-3 mb-3">
            Информация о {{ object.username }}
        </h1>

        <div class="card-body">
            <p>{{ object.first_name }} {{ object.last_name }}</p>
        </div>
    </div>
{% endblock %}

{#{% block sidebar %}#}
{#    {% include 'mainapp/includes/_sidebar.html' %}#}
{#{% endblock %}#}
