{% extends 'mainapp/base.html' %}
{% load static %}
{% load posttags %}

{% block title %}
    {{ title|title }} :: {{ block.super }}
{% endblock %}

{% block content %}
    <div class="single-card card border border-secondary border-opacity-25">

        <h1 class="text-center fw-bold card-title mt-3 mb-3">
            Личный кабинет пользователя<br/>
            {% if user.first_name and user.last_name %}
                {{ user.first_name }} {{ user.last_name }}
            {% else %}
                {{ user.username }}
            {% endif %}
        </h1>

        {% if page_obj %}
            <h4>Статьи написанные вами</h4>
        {% else %}
            <p>К сожалению вы пока не написали ни одной статьи.</p>
        {% endif %}
        {% for post in page_obj %}
            {% post_mini post user %}
        {% endfor %}


        {% block pagination %}
            {% include 'mainapp/includes/_pagination.html' %}
        {% endblock %}
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'userapp/includes/_sidebar.html' %}
{% endblock %}
