{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    {{ title|title }} :: {{ block.super }}
{% endblock %}

{% block content %}
    <div class="single-card card border border-secondary border-opacity-25">

        <h1 class="text-center fw-bold card-title mt-3 mb-3">
           <span>Редактирование пользователя
               <span class="text-primary">{{ user.username }}</span>
           </span>
        </h1>

        <hr class="text-muted mt-2 mb-5">

        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>

                {% for f in form %}

                    {% if f.html_name == 'username' or f.html_name == 'password1' or f.html_name == 'email' %}

                        {% if f.html_name == 'password1' %}
                            <h4 class="text-center card-title mt-5">Поменять пароль</h4>
                        {% endif %}

                        {% if f.errors %}
                            <div class="alert alert-danger mt-3 error-auth" role="alert">{{ f.errors }}</div>
                        {% endif %}

                        <div class="row g-2">
                    {% elif f.html_name == 'first_name' or f.html_name == 'last_name' or f.html_name == 'about' %}
                        <div class="row g-2 mb-3">
                    {% endif %}

                    {% if f.html_name == 'first_name' or f.html_name == 'last_name' or f.html_name == 'about' %}
                        <div class="col-md">
                    {% elif f.html_name == 'gender' or f.html_name == 'age' %}
                        <div class="col-md-3">
                    {% else %}
                        <div class="col-md mb-3">
                    {% endif %}

                <div class="form-floating">
                    {{ f }}
                    <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                </div>
                </div>
                {% if f.html_name == 'username' or f.html_name == 'email' or f.html_name == 'gender' or f.html_name == 'age' or f.html_name == 'about' or f.html_name == 'password2' %}
                    </div>
                {% endif %}
                {% endfor %}


                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-outline-primary">Сохранить</button>
                </div>
            </form>
        </div>


    </div>
{% endblock %}

{% block sidebar %}
    {% include 'mainapp/includes/_post_create_button.html' %}
    {% include 'userapp/includes/_sidebar.html' %}
{% endblock %}
