{% extends 'mainapp/base.html' %}
{% load static %}
{% load posttags %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block content %}
    <div class="single-card card border border-secondary border-opacity-25">

        {% if posts %}
            <h1 class="text-center fw-bold card-title mt-3 mb-3">Статьи <span class="text-primary">{{ object_user.username }}</span></h1>
        {% else %}
            <h2>К сожалению, {{ object_user.username }} пока не написал ни одной статьи 😞</h2>
        {% endif %}

        <hr class="text-muted mt-2 mb-5">

        {% for post in posts %}
            {% post_mini post user %}
        {% endfor %}

    </div>
{% endblock %}

{% block sidebar %}
    {% include 'mainapp/includes/_post_create_button.html' %}
    {% include 'userapp/includes/_sidebar.html' %}
    {% include 'mainapp/includes/_content_sidebar.html' %}
{% endblock %}
