{% extends 'mainapp/base.html' %}

{% block content %}
    <div id="cards" class="custom-card-bg card border border-secondary border-opacity-25 pb-3">

        <h1 class="text-center fw-bold card-title mt-3 mb-3">
            Описание платформы
        </h1>
        <hr class="text-muted mb-4">

        <div class="card-body">
            <h5 class="fw-bold">
                <i class="bi bi-arrow-right-short custom-arrow"></i>
                Что такое HABA-HABA?
            </h5>
            <hr class="text-muted w-50 mt-2">
            <p class="card-text lh-base fst-italic custom-p">
                HABA-HABA - это платформа, созданная с целью обмена опытом и
                знаниями между IT-специалистами.
                Сайт оформлен в виде системы тематических
                блогов, где любой пользователь может публиковать новости,
                аналитические статьи, мысли и другую информацию,
                связанную с тематикой сайта
            </p>
        </div>

        <hr class="custom-hr">

        <div class="card-body">
            <h5 class="fw-bold">
                <i class="bi bi-arrow-right-short custom-arrow"></i>
                Для чего нужна регистрация?
            </h5>
            <hr class="text-muted w-50 mt-2">
            <p class="card-text lh-base fst-italic custom-p">
                Регистрация позволяет публиковать новые статьи. Оставлять комментарии.
                Ставить лайки понравишемся статьям и комментариям.
                Чтобы зарегистрироваться, необходимо пройти простую процедуру.
                Щелкните по иконке с Человечком в главном меню и заполните форму
            </p>
        </div>

        <hr class="custom-hr">

        <div class="card-body">
            <h5 class="fw-bold">
                <i class="bi bi-arrow-right-short custom-arrow"></i>
                Какие разделы существуют на сайте?
            </h5>
            <hr class="text-muted w-50 mt-2">
            <p class="card-text lh-base fst-italic custom-p">
                На данный момент мы предлагаем публиковать статьи по четырём
                направлениям: Дизайн, Веб-разработка, Мобильная разработка
                и Маркетинг, но в дальнейшем могут появиться новые разделы.
                Также все публикуемые статьи должны иметь отношение к IT-технологиям
            </p>
            <p class="card-text lh-base fst-italic custom-p">
                Статьи по разделам можно просматривать по соответствующим
                ссылкам в главном меню сайта
            </p>
        </div>

        <hr class="custom-hr">

        <div class="card-body">
            <h5 class="fw-bold">
                <i class="bi bi-arrow-right-short custom-arrow"></i>
                Как написать статью?
            </h5>
            <hr class="text-muted w-50 mt-2">
            <p class="card-text lh-base fst-italic custom-p">
                Создание, редактирование и публикация статьи осуществляется в личном кабинете пользователя.
                Введите название, выберите презентационную картинку, выберите раздел,
                к которому относится Ваша публикация и приступайте к написанию.
                Как только статья будет готова нажмите "Опубликовать". Готово! Ваша статья появилась на сайте
            </p>
        </div>

        <hr class="custom-hr">

        <div class="card-body">
            <h5 class="fw-bold">
                <i class="bi bi-arrow-right-short custom-arrow"></i>
                Как оставить комментарий?
            </h5>
            <hr class="text-muted w-50 mt-2">
            <p class="card-text lh-base fst-italic custom-p">
                Для этого необходимо перейти в статью
                и в конце старицы заполнить соответствующую форму. Оставить комментарий могут
                только зарегистрированные пользователи
            </p>
        </div>

        <hr class="custom-hr">

        <div class="card-body">
            <h5 class="fw-bold">
                <i class="bi bi-arrow-right-short custom-arrow"></i>
                Как отредактировать комментарий?
            </h5>
            <hr class="text-muted w-50 mt-2">
            <p class="card-text lh-base fst-italic custom-p">
                Иконка с карандашом появляется только у пользователя, оставившего комментарий.
                Нажав иконку поле с комментарием становится доступным для внесения изменений.
                Отредактировав текст необходимо снова нажать на карандаш. Комментарий изменен
            </p>
        </div>

        <hr class="custom-hr">

        <div class="card-body">
            <h5 class="fw-bold">
                <i class="bi bi-arrow-right-short custom-arrow"></i>
                Есть ли возможность оставить лайк?
            </h5>
            <hr class="text-muted w-50 mt-2">
            <p class="card-text lh-base fst-italic custom-p">
                Оставить лайки могут только зарегистрированные пользователи.
                Поставить лайк можно нажав иконку с сердечком под статьей или комментарием
            </p>
        </div>

        <hr class="custom-hr">

        <div class="card-body">
            <h5 class="fw-bold">
                <i class="bi bi-arrow-right-short custom-arrow"></i>
                Как обратиться к модератору?
            </h5>
            <hr class="text-muted w-50 mt-2">
            <p class="card-text lh-base fst-italic custom-p">
                Увидели неподобающий контент? Сообщите о нарушении: напишите
                комментарий, начинающийся с @moderator и коротко
                опишите причину обращения к администрации
            </p>
        </div>

        <hr class="custom-hr">

        <div class="card-body">
            <h5 class="fw-bold">
                <i class="bi bi-arrow-right-short custom-arrow"></i>
                Как осуществлять поиск по сайту?
            </h5>
            <hr class="text-muted w-50 mt-2">
            <p class="card-text lh-base fst-italic custom-p">
                Для поиска по сайту воспользуйтесь иконкой Лупы в главном меню.
                Укажите в окне, что Вы ищите и нажмите Enter
            </p>
        </div>

        <hr class="custom-hr">

        <div class="card-body">
            <h5 class="fw-bold">
                <i class="bi bi-arrow-right-short custom-arrow"></i>
                Как стать модератором?
            </h5>
            <hr class="text-muted w-50 mt-2">
            <p class="card-text lh-base fst-italic custom-p">
                Решили стать модератором, обратитесь к администратору сайта
            </p>
        </div>

    </div>
{% endblock %}