{% extends 'mainapp/base.html' %}
{% load static %}
{% load posttags %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block content %}
    <div class="custom-card-bg card border border-secondary border-opacity-25 pt-3">

        {% for post in posts %}
            {% post_mini post user %}
        {% empty %}
            {% include 'mainapp/includes/__not_found.html' %}
        {% endfor %}

    </div>
{% endblock %}

{% block sidebar %}
    {% include 'mainapp/includes/_post_create_button.html' %}
    {% include 'mainapp/includes/_content_sidebar.html' %}
    {% if posts %}
        {% include 'searchapp/includes/_content_sidebar.html' %}
    {% endif %}
{% endblock %}
