{% extends 'mainapp/base.html' %}
{% load static %}
{% load posttags %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block content %}
    <div class="single-card card border border-secondary border-opacity-25 p-3">
        <h1 class="text-center fw-bold card-title mt-3 mb-3">Редактирование статьи</h1>
        <h3 class="text-center fw-bold card-title mt-3 mb-3">{{ object.title }}</h3>

        <hr class="text-muted mt-2 mb-5">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form-floating mb-3">
                {{ form.title }}
                <label for="id_title">Заголовок</label>
            </div>
            <div class="form-floating mb-3">
                {{ form.cat }}
                <label for="id_cat">Категория</label>
            </div>
            <div class="mb-3">
                <label class="input-file">
                    <span class="input-file-btn">Выберите файл</span>
                    {{ form.photo }}
                    <span class="input-file-text "></span>
                </label>
            </div>
            <div id="custom-post-text-labels" class="position-relative mb-3">
                <small class="post-text-position position-absolute">
                    Текст статьи
                </small>
                {{ form.content|safe }}
            </div>
            <div id="custom-tags-labels"
                 class="position-relative d-flex flex-wrap justify-content-between mt-3 mb-3">
                <small class="tags-position position-absolute">Теги</small>
                {% for tag in form.tags %}
                    {{ tag }}
                {% endfor %}
            </div>
            <div class="form-check form-switch d-flex justify-content-end mt-5">
                {{ form.is_published }}
                <label class="form-check-label ms-2" for="id_published">Публикуем?</label>
            </div>
            <div class="d-grid mt-5">
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-outline-primary btn-lg">Изменить статью</button>
                    </div>
                    <div class="col-md-auto">
                        <a class="btn btn-outline-danger btn-lg" href="{% url 'main:delete_post' object.pk %}">
                            Удалить статью
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}

{% block sidebar %}
    {% include 'mainapp/includes/_post_create_button.html' %}
    {% include 'mainapp/includes/_content_sidebar.html' %}
{% endblock %}